.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--primary-6);
    gap: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms;
    &.active{
        background: var(--primary-3);
        border: 2px solid var(--primary-2);
    }
    &:hover{
        border: 2px solid var(--primary-2);
    }
    .checkbox{
        transform: scale(1.5);
    }
    .content{
        display: flex;
        flex-direction: column;
        width: calc(100% - 40px);
        .title, .subtitle{
            margin: 0;
            padding: 0;
        }
        .title{
            font-weight: 700;
        }
        .subtitle{
            color: var(--primary-4);
            font-size: 14px;
        }
    }
    .price{
        color:var(--primary-2);
        font-size: 14px;
        width: 65px;
        font-weight: 500;
    }
}