:root {
  --primary-1: #cda274;
  --primary-2: #423BC9;
  --primary-3: #f6f7ff;
  --primary-4: #95959f;
  --primary-5: #2C3E50;
  --primary-6: #dadbe7;
  --color-white: #fff;
  --color-error: #ff0000;
}

$horizontal-breakpoint: 800px;
